<div class="rounded-t-xl overflow-hidden p-6">
  <div
    class="group px-4 py-5 max-w-full mx-auto w-full border border-indigo-500 text-center border-opacity-25 rounded-lg select-none overflow-hidden space-y-1">
    <label class="font-semibold text-lg px-2 text-black" for="cadena">Cadena
      uwu</label>
    <textarea
      class="py-3 px-4 bg-white mt-8 rounded-lg placeholder-blue-700 text-gray-900 appearance-none inline-block w-full shadow-md focus:outline-none focus:ring-2 focus:ring-blue-700"
      id="cadena" (change)="analizar()" [(ngModel)]="cadena" placeholder="Ingresa tu cadena hermoso"></textarea>
  </div>
</div>
<div class="mx-12">
  <div aria-label="salida" class="w-full bg-white opacity-70 p-28 overscroll-auto"><span *ngFor="let mensaje of salida">{{mensaje}}<br></span></div>
</div>
<div class="mt-8 space-y-80 px-96 cursor-not-allowed rounded-t-xl bg-red-200 overflow-auto text-center p-12" *ngIf="errores.length>0">
  <span class="text-gray-800" *ngFor="let error of errores">{{error}}</span>
</div>

<router-outlet></router-outlet>
